
.login__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  color: var(--text-color);
}
body {
  background-color: var(--color-wine);
}

.login__title{
  color: var(--color-white);
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
}
.btn.btn-outline-pink-login:hover{
  border: 1px solid #30110D;
  color: #F2BC94;
  background-color: var(--color-wine);
}
.btn.btn-outline-pink-login{
  border: 1px solid #F2BC94;
  color:#222;
  background-color:#F2BC94 ;
  border-radius: 10px;
}