.register-main{
  min-height: 75vh;
  background-color: var(--color-wine);
}

.register-title{
  color: var(--color-white);
}

.register-form{
  width: 250px;
}

.register-form input{
  border-radius: 5px;
  margin: 5px 0 5px;
  color: var(--color-white);
  padding: 7px;
  background-color: var(--color-brown);
}

.register-form span{
  color: var(--color-beige);
  padding: 0px 0px 5px;
  text-align: center;
}

.register-form label{
  padding: 12px 0px 0px;
  color: var(--color-white);
  text-align: center;
}
