/* .register__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  color: var(--text-color);
} */
.register-main{
  height: 100vh;
  background-color: var(--color-wine);
}

.register-title{
  color: var(--color-white);
}

.register-form{
  width: 250px;
  /* display: flex; */
  /* flex-direction: column; */
}

.register-form input{
  border-radius: 5px;
  margin: 15px 0;
  color: var(--color-white);
  padding: 7px;
  background-color: var(--color-brown);
}

/* .refister-form input{
  height: 35px;
  padding: 10px;
} */

/* .register__title{
  color: var(--text-color);
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
} */

/* .register__button{
  background-color: var(--background-color-button);
  height: 35px;
  margin: 10px;
  border-radius: 10px;
} */
