.main {
  height: 100vh;
  background-color: var(--color-wine);
  color: var(--color-white);
}

.main-p {
  color: var(--color-brown);
}

.main-buttons {
  width: 500px;
}

*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}